/* BODY */

/* 
#388087
#6FB3B8
#BADFE7
#C2EDCE
#F6F6F2
 */

 body{
  font-family: 'Montserrat', sans-serif;
  background-color: #f6f6f2;
 }

 .navbar {
background-color: #BADFE7!important;
 }


h1{
  color: #388087;
}

/* FOOTER */
.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  background-color: #388087;
  color: #f6f6f2;
  }
    
    
    .footer-basic ul {
      padding:0;
      list-style:none;
      text-align:center;
      font-size:18px;
      line-height:1.6;
      margin-bottom:0;
    }
    
    .footer-basic li {
      padding:0 10px;
    }
    
    .footer-basic ul a {
      color:inherit;
      text-decoration:none;
      opacity:0.8;
    }
    
    .footer-basic ul a:hover {
      opacity:1;
    }
    
    .footer-basic .social {
      text-align:center;
      padding-bottom:25px;
    }
    
    .footer-basic .social > a {
      font-size:24px;
      width:40px;
      height:40px;
      line-height:40px;
      display:inline-block;
      text-align:center;
      border-radius:50%;
      border:1px solid #ccc;
      margin:0 8px;
      color:inherit;
      opacity:0.75;
    }
    
    .footer-basic .social > a:hover {
      opacity:0.9;
    }
    
    .footer-basic .copyright {
      margin-top:15px;
      text-align:center;
      font-size:13px;
      color:#aaa;
      margin-bottom:0;
    }

      /* ----------------------------------- content boxes */

  .exp {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 40px;
}
.chat-bubble {
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 rgb(0 0 0 / 10%), 0 4px 20px 0 rgb(0 0 0 / 10%);
  height: 100%;
  background-color: #FAF9F6;
}


.exp img {
border-radius: 100%;
max-width: 80px;
max-height: 80px;
}

img {
overflow-clip-margin: content-box;
overflow: clip;
}

.chat-time {
float: right;

}

/* ----------------------------------- */